* {
    margin: 0px;
    padding: 0px;
}

#banner {
    background-color: #f6a241;
    background-image: url('https://ianw-99.github.io/MongooseDnD/media/dndbanner.png');
    background-position: center;
    max-width: 100%;
    height: 400px;
}